
import java.time.*
Date now = new Date() 

params {
	day = now.format("yyyMMdd")
    timestamp = now.format("yyyyMMdd-HH-mm-ss")
}

report {
    enabled = true
    file = "pipeline_info/${params.timestamp}_report.html"
}

timeline {
	enabled = true
	file = "pipeline_info/${params.timestamp}_timeline.html"
}

process.container = 'cellprofiler/cellprofiler:4.2.1'
